@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');

.noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.biz-udgothic-regular {
    font-family: "BIZ UDGothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


:root {
    --sl-font: 'Noto Sans', 'Noto Sans JP', sans-selif;
    --sl-font-mono: 'JetBrains Mono', 'BIZ UDGothic', monospace;
}

pre,
code,
kbd,
samp {
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0, "calt" 0;
}
